@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: hsl(225, 100%, 94%);
  background-image: url("./assets/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center, 0%, 50%;
  background-size: contain;
}
.container {
  display: flex;
  flex-direction: column;
  width: 32vw;
  height: 80vh;
  background-color: #fff;
  border-radius: 15px;
}
.hero-image {
  display: block;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 28vh;
  background-image: url("./assets/images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-position: center center, 50%, 50%;
  background-size: cover;
}
.inner-col {
  padding: 7% 12%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
}
.title {
  margin-bottom: 0.75rem;
  color: hsl(223, 47%, 23%);
  font-size: 1.5rem;
}
.desc {
  color: hsla(224, 23%, 55%, 0.75);
  line-height: 1.5rem;
  margin-bottom: 0.9rem;
  font-size: 0.85rem;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: hsla(225, 100%, 94%, 0.5);
  border-radius: 7px;
  padding: 1rem;
}
.icon-div {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.music-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.plan-col {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  justify-content: start;
  align-items: flex-start;
}
.text-bold {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
.change {
  color: hsl(245, 75%, 52%);
  font-size: 0.85rem;
}
.change:hover {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.5);
}
.price {
  color: hsla(224, 23%, 55%, 0.75);
  font-size: 0.85rem;
}
.btn-row {
  display: flex;
  flex-direction: column;
}
button {
  border: none;
}
.full {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  height: 2.5rem;
  border-radius: 7px;
  margin: 1.5rem 0;
  box-shadow: hsla(223, 47%, 23%, 0.3) 0px 19px 38px,
    hsla(223, 47%, 23%, 0.1) 0px 15px 12px;
  cursor: pointer;
  font-weight: 700;
}
.full:hover {
  background-color: hsla(245, 75%, 52%, 0.75);
}
.cancel {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-weight: 700;
}
.cancel:hover {
  color: hsl(223, 47%, 23%);
}
.mobile {
  display: none;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .mobile {
    display: flex;
    flex-direction: column;
    width: 88vw;
    height: 90vh;
    border-radius: 15px;
  }
  body {
    background-image: url("./assets/images/pattern-background-mobile.svg");
    display: flex;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: none;
  }
  .inner-col {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .hero-image {
    height: 20vh;
  }
  .inner-col {
    padding: 7%;
  }
  .desc {
    padding: 0 0.25rem;
  }
}
